n8n_workflow_chatbot.json
{
  "name": "snspokes — Chatbot",
  "nodes": [
    {
      "parameters": { "path": "sn-chatbot", "httpMethod": "POST", "responseMode": "responseNode" },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct:free', messages: [ { role: 'system', content: 'You are an expert ServiceNow developer and architect. You help users with Integration Hub spokes, GlideRecord scripting, Flow Designer, REST APIs, and any ServiceNow question. Rules: 1) Always give practical, working code examples when relevant. 2) Format answers clearly with sections. 3) If you include code, use proper GlideRecord/Flow Designer syntax. 4) Be concise but thorough — aim for 150-300 words. 5) If unsure, say so honestly. You can also answer general programming questions.' }, ...($json.history || []), { role: 'user', content: $json.question } ], max_tokens: 1500, temperature: 0.7 }) }}",
        "options": { "timeout": 60000 }
      },
      "name": "Ask OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, answer: $json.choices?.[0]?.message?.content || 'No response from AI', model: $json.model || 'openrouter' }) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Ask OpenRouter", "type": "main", "index": 0 }]] },
    "Ask OpenRouter": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
