n8n_workflow_ai_debug.json
{
  "name": "snspokes — AI Debug",
  "nodes": [
    {
      "parameters": { "path": "sn-ai-debug", "httpMethod": "POST", "responseMode": "responseNode" },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer {{ $env.OPENROUTER_API_KEY }}" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'mistralai/mistral-7b-instruct:free', messages: [{ role: 'system', content: 'You are an expert full-stack developer debugging a SaaS platform. Stack: Next.js, PostgreSQL, Redis, n8n, Docker on Hetzner. Give concise, actionable advice with exact commands or code fixes.' }, { role: 'user', content: ($json.context_data ? 'Context:\\n' + $json.context_data + '\\n\\n' : '') + 'Question: ' + $json.question }], max_tokens: 1500, temperature: 0.3 }) }}",
        "options": { "timeout": 60000 }
      },
      "name": "Ask OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, answer: $json.choices?.[0]?.message?.content || 'No response', model: $json.model }) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Ask OpenRouter", "type": "main", "index": 0 }]] },
    "Ask OpenRouter": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
