n8n_workflow_chatbot.json
{
  "name": "snspokes \u2014 Chatbot",
  "nodes": [
    {
      "parameters": {
        "path": "sn-chatbot",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_YOUR_OPENROUTER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openrouter/free', messages: [ { role: 'system', content: 'You are a helpful AI assistant. IMPORTANT: Answer the user's ACTUAL question directly. If they ask about ServiceNow, give specific SN guidance with code. If they say hello, greet them. If they ask a general question, answer it normally. Rules: 1) ANSWER WHAT WAS ASKED — do not give random ServiceNow content. 2) Use markdown: ## headers, **bold**, ```javascript code blocks```, - bullets. 3) For ServiceNow code, specify server-side vs client-side. 4) Be concise — 100-250 words. 5) Include code examples only when relevant \u2014 aim for 150-300 words. 5) If unsure, say so honestly. You can also answer general programming questions.' }, ...($json.history || []), { role: 'user', content: $json.question } ], max_tokens: 1500, temperature: 0.7 }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Ask OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, answer: $json.choices?.[0]?.message?.content || 'No response from AI', model: $json.model || 'openrouter' }) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ask OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask OpenRouter": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}