snspokes_v11/workflow3_list_spokes.json
{
  "name": "snspokes - 3. List All Spokes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sn-list-spokes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-l-001",
      "name": "List Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sn-list-spokes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT slug, name, description, icon, category, plugin_id, tags FROM sn_spokes ORDER BY category ASC, name ASC;",
        "options": {}
      },
      "id": "node-l-002",
      "name": "Fetch All Spokes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Hetzner Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Database connection failed.\", \"spokes\": [] }",
        "options": { "responseCode": 503, "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }, { "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "node-l-003",
      "name": "Return DB Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\n\nif (!results || results.length === 0 || !results[0].json.slug) {\n  return [{ json: { has_data: false, spokes: [] } }];\n}\n\nconst spokes = results.map(r => ({\n  slug: r.json.slug,\n  name: r.json.name,\n  description: r.json.description,\n  icon: r.json.icon || '🔌',\n  category: r.json.category,\n  plugin_id: r.json.plugin_id,\n  tags: r.json.tags || []\n}));\n\nreturn [{ json: { has_data: true, spokes: spokes, count: spokes.length } }];"
      },
      "id": "node-l-004",
      "name": "Format Spokes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.has_data }}", "value2": true }]
        }
      },
      "id": "node-l-005",
      "name": "Has Spokes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.19.0.1:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:3b\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a ServiceNow Integration Hub expert. Return ONLY a valid JSON array. No markdown, no explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"List the top 30 most popular ServiceNow Integration Hub spokes. Return a JSON array where each object has: slug (url-friendly lowercase with hyphens), name, description (1 sentence), icon (emoji), category (one of: Communication/DevOps/Cloud/ITSM/Security/HR/CRM), plugin_id, tags (array of 3 strings). Return ONLY the JSON array.\"\n    }\n  ]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "node-l-006",
      "name": "AI Seed Spokes List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"spokes\": [], \"count\": 0, \"message\": \"No spokes available yet. Database is being seeded.\" }",
        "options": { "responseCode": 200, "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }, { "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "node-l-007",
      "name": "Return Empty",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aiResponse = $input.first().json;\n  const content = aiResponse.message && aiResponse.message.content ? aiResponse.message.content : '';\n  const clean = content.replace(/```json/g, '').replace(/```/g, '').trim();\n  const spokes = JSON.parse(clean);\n  if (!Array.isArray(spokes)) throw new Error('Not array');\n  return [{ json: { spokes: spokes, from_ai: true } }];\n} catch(e) {\n  return [{ json: { spokes: [], from_ai: true } }];\n}"
      },
      "id": "node-l-008",
      "name": "Parse AI Spokes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sn_spokes (slug, name, description, icon, category, plugin_id, tags, created_at)\nSELECT\n  item->>'slug',\n  item->>'name',\n  item->>'description',\n  item->>'icon',\n  item->>'category',\n  item->>'plugin_id',\n  ARRAY(SELECT jsonb_array_elements_text(item->'tags')),\n  NOW()\nFROM jsonb_array_elements('{{ JSON.stringify($json.spokes) }}'::jsonb) AS item\nON CONFLICT (slug) DO NOTHING;",
        "options": {}
      },
      "id": "node-l-009",
      "name": "Seed DB with Spokes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 400],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Hetzner Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"spokes\": {{ JSON.stringify($json.spokes) }},\n  \"count\": {{ $json.spokes.length }}\n}",
        "options": { "responseCode": 200, "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }, { "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "id": "node-l-010",
      "name": "Send All Spokes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "List Webhook": { "main": [[{ "node": "Fetch All Spokes", "type": "main", "index": 0 }]] },
    "Fetch All Spokes": { "main": [[{ "node": "Format Spokes", "type": "main", "index": 0 }], [{ "node": "Return DB Error", "type": "main", "index": 0 }]] },
    "Format Spokes": { "main": [[{ "node": "Has Spokes?", "type": "main", "index": 0 }]] },
    "Has Spokes?": { "main": [[{ "node": "Send All Spokes", "type": "main", "index": 0 }], [{ "node": "AI Seed Spokes List", "type": "main", "index": 0 }]] },
    "AI Seed Spokes List": { "main": [[{ "node": "Parse AI Spokes", "type": "main", "index": 0 }], [{ "node": "Return Empty", "type": "main", "index": 0 }]] },
    "Parse AI Spokes": { "main": [[{ "node": "Seed DB with Spokes", "type": "main", "index": 0 }]] },
    "Seed DB with Spokes": { "main": [[{ "node": "Send All Spokes", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": ["snspokes", "list"]
}
